<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />
  <link rel="stylesheet" href="app.component.css" />
</head>
<!-- Floating Language Button -->
<div class="floating-lang-btn" (click)="toggleLanguage()">
  <i class="fa-solid fa-globe"></i>
</div>
<div class="lottie-background">
  <!-- <ng-lottie
    [options]="options"
    (animationCreated)="animationCreated($event)"
  /> -->
</div>

<div class="container">
  <!-- Sidebar Navbar -->
  <nav class="sidebar">
    <ul>
      <li>
        <a href="#home">
          <i class="fa-solid fa-house"></i>
          <span>{{ "NAV.HOME" | translate }}</span>
        </a>
      </li>
      <li>
        <a href="#about">
          <i class="fa-solid fa-user"></i>
          <span>{{ "NAV.ABOUT" | translate }}</span>
        </a>
      </li>
      <li>
        <a href="#projects">
          <i class="fa-solid fa-briefcase"></i>
          <span>{{ "NAV.PROJECTS" | translate }}</span>
        </a>
      </li>
      <li>
        <a href="#contact">
          <i class="fa-solid fa-envelope"></i>
          <span>{{ "NAV.CONTACT" | translate }}</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/mltaleb" target="_blank">
          <i class="fa-brands fa-github"></i>
          <span>{{ "NAV.GITHUB" | translate }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Main Content -->
  <div class="main-content">
    <section id="home" class="section">
      <img src="assets/profile.png" alt="Profile" class="profile-img" />

      <h1>{{ "HOME.GREETING" | translate }}</h1>

      <p>
        <span class="role">{{ "HOME.ROLE" | translate }}</span>
      </p>

      <p>
        {{ "HOME.INTROF" | translate }}
        <span class="skill">{{ "HOME.SKILL1" | translate }}</span
        >, <span class="skill">{{ "HOME.SKILL2" | translate }}</span
        >, and <span class="skill">{{ "HOME.SKILL3" | translate }}</span
        >, {{ "HOME.INTROS" | translate }}
      </p>

      <p>{{ "HOME.DESCRIPTION" | translate }}</p>
    </section>

    <section id="about" class="section">
      <h1>{{ "ABOUT.TITLE" | translate }}</h1>

      <div class="about-content">
        <img src="assets/profile.png" alt="Profile" class="profile-img" />

        <div class="about-text">
          <p>{{ "ABOUT.INTRO" | translate }}</p>

          <p>{{ "ABOUT.DESCRIPTION" | translate }}</p>

          <p>{{ "ABOUT.PASSION" | translate }}</p>

          <h2>{{ "ABOUT.TECH" | translate }}</h2>
          <div class="tech-icons">
            <img src="assets/icons/powerapps.png" alt="Power Apps" />
            <img src="assets/icons/powerautomate.png" alt="Power Automate" />
            <img src="assets/icons/sharepoint.png" alt="SharePoint" />
            <img src="assets/icons/angular.png" alt="Angular" />
            <img src="assets/icons/node.png" alt="Node.js" />
            <img src="assets/icons/flutter.png" alt="Flutter" />
          </div>

          <a href="#contact" class="cta-button">
            {{ "ABOUT.CONNECT" | translate }}
          </a>
        </div>
      </div>
    </section>

    <section id="projects" class="section">
      <h1>{{ "PROJECTS.TITLE" | translate }}</h1>
    </section>

    <section id="contact" class="section">
      <h1>{{ "CONTACT.TITLE" | translate }}</h1>
      <p>{{ "CONTACT.MESSAGE" | translate }}</p>

      <form
        [formGroup]="contactForm"
        (ngSubmit)="submitForm()"
        class="contact-form"
      >
        <label for="name">{{ "CONTACT.NAME" | translate }}:</label>
        <input type="text" id="name" formControlName="name" required />
        <div
          *ngIf="
            contactForm.get('name')?.invalid && contactForm.get('name')?.touched
          "
        >
          <small>{{ "CONTACT.ERROR.NAME" | translate }}</small>
        </div>

        <label for="email">{{ "CONTACT.EMAIL" | translate }}:</label>
        <input type="email" id="email" formControlName="email" required />
        <div
          *ngIf="
            contactForm.get('email')?.invalid &&
            contactForm.get('email')?.touched
          "
        >
          <small>{{ "CONTACT.ERROR.EMAIL" | translate }}</small>
        </div>

        <label for="message">{{ "CONTACT.MESSAGE_LABEL" | translate }}:</label>
        <textarea id="message" formControlName="message" required></textarea>
        <div
          *ngIf="
            contactForm.get('message')?.invalid &&
            contactForm.get('message')?.touched
          "
        >
          <small>{{ "CONTACT.ERROR.MESSAGE" | translate }}</small>
        </div>

        <button type="submit" [disabled]="contactForm.invalid">
          {{ "CONTACT.BUTTON" | translate }}
        </button>
      </form>

      <div class="social-icons">
        <a href="https://www.linkedin.com/in/mltaleb" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
          {{ "CONTACT.LINKEDIN" | translate }}
        </a>
        <a href="https://wa.me/33634964036" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          {{ "CONTACT.WHATSAPP" | translate }}
        </a>
      </div>
    </section>

    <footer class="footer">
      <p>{{ "FOOTER.COPYRIGHT" | translate }}</p>
    </footer>
  </div>
</div>
